.section-howWork {
  padding-top: 30px;
  padding-bottom: 40px;
  background: #fff url(../../../images/how-bg.png) center center no-repeat;
  width: 100%;
  height: 425px;
}

.heading-howWork {
  color: #1a8dc7;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
