.heading-modal-reg {
  width: 130%;
  margin-left: -15%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000;
  background: #fff;

  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  & span {
    font-weight: 700;
    color: #1a8dc7;
  }
}
