.section-reviews {
  padding-top: 70px;
  padding-bottom: 30px;
}
.container-reviews {
  background: url(../../../images/done-reviews-bg.png) center top no-repeat;
  padding-top: 270px;
}
.heading-one-reviews {
}
.heading-one-reviews {
}
.card-reviews {
}
.list-reviews {
}
.item-reviews {
}
.heading-user-reviews {
}
.info-reviews {
}
.earnings-reviews {
}
.img-user-reviews {
}
